body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button{
    cursor: pointer;
}

body{
    display: grid;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

header {
    height: 15vh;
    display: flex;
    background-color: #4682b4;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

header h1{
    padding: 15px;
    color: white;
}

header form{
    position: relative;
}

header form input{
    width: 50vw;
    height: 2.5em;
    border: none;
    border-radius: 6px;
    padding: 10px;
    padding-right: 30px;
}

header form input:focus {
   outline-color: rgb(39, 197, 0);
}

header form button{
    position: absolute;
    border: none;
    background: none;
    top: 0.5em;
    right: 0;
}

header #svg{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 90px;
}

dialog{
    margin: auto;
    position: relative;
    width: 50vw;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

dialog[open]{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

dialog form{
    display: grid;
    grid-template-columns: 15vw 15vw;
    justify-content: space-around;
    gap: 10px
}

.dialogInput{
    width: inherit;
    height: 2.5em;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
}


dialog div{
    display: flex;
    flex-direction: column;
}

#fechar{
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    background: none;
    width: 2em;
    height: 2em;
    right: 1px;
    top: 1px;
    border: none;
}

#aplicar{
    height: 2.5em;
    border-radius: 5px;
    border: none;
    background-color: #4682b4;
    color: white;
}

main{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f0f0f0;
    height: auto;
}

footer{
    background-color: #4682b4;
    height: 15vh;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    list-style: none;
}

li img{
    max-width: 380px;
    max-height: 380px;
}

li div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

li button{
    width: 100%;
    background-color: #c5c5c5;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.parent {
    display: grid;
    width: 60vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 4; }
.div3 { grid-area: 2 / 2 / 3 / 4; }
.div4 { grid-area: 3 / 2 / 4 / 4; }

@media (max-width: 980px) {
    dialog form{
        display: grid;
        grid-template-columns: 40vw;
        justify-content: space-around;
        gap: 10px
    }
}