body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body{
    display: grid;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

header {
    height: 15vh;
    width: 100vw;
    display: flex;
    background-color: #4682b4;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

header h1{
    padding: 15px;
    color: white;
}

header form{
    position: relative;
}

header form input{
    width: 50vw;
    height: 2.5em;
    border: none;
    border-radius: 6px;
    padding: 10px;
    padding-right: 30px;
}

header form input:focus {
   outline-color: rgb(39, 197, 0);
}

header form button{
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    top: 0.5em;
    right: 0;
}

header svg{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 95px;
}

dialog{
    margin: auto;
    position: relative;
    width: 50vw;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main{
    background-color: #f0f0f0;
    height: 70vh;
}

footer{
    background-color: #4682b4;
    height: 15vh;
}